<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="timw255.FormAnalytics.Web.Services.FormAnalytics">
                <endpoint address="" binding="basicHttpBinding" contract="timw255.FormAnalytics.Web.Services.IFormAnalyticsSignalService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/timw255.FormAnalytics.Web.Services/FormAnalytics/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="timw255.FormAnalytics.Web.Services.FormAnalyticsDataService">
                <endpoint address="" binding="basicHttpBinding" contract="timw255.FormAnalytics.Web.Services.IFormAnalyticsDataService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/timw255.FormAnalytics.Web.Services/FormAnalyticsDataService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
